/* Robert Zuniga */



.container {
    width: 500px;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    background: lightyellow;
    border-style: solid;
    border-color:black;
    
}

.card{
    margin-bottom: 50px;
    background-color:transparent !important;
    border: 0px;
    
}

.jumbotron{
 /* color: #FFFFFF; */
 background-color:transparent !important;
} 
#display-time {
    font-family: monospace; 
    font-size: 20px;
    color: darkblue;
    text-align: center;
    /* background: lightgrey; */
    /* background: lightyellow; */
    
}

#timeRemaining{
    justify-content: center;
}

#buttons {
    text-align: center;
}

button {
    width: 100 px;
    height: 50 px auto 0;

}

#q-a-space {
    width: 100%;
    height: auto;

    margin-top: 20 px;
    overflow: auto;
    text-align: center;
    /* background: orange; */
    /* background: lightyellow; */
    
}