/* Robert Zuniga  Trivia css*/



.container {
    width: 500px;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    background: lightyellow;
    border-style: solid;
    border-color: black;

}

.card {
    margin-bottom: 50px;
    background-color: transparent !important;
    border: 0px;

}

.jumbotron {
    /* color: #FFFFFF; */
    background-color: transparent !important;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;

}

#display-time {
    font-family: monospace;
    font-size: 20px;
    color: darkblue;
    text-align: center;
    /* background: lightgrey; */
    /* background: lightyellow; */
}

h4 {

    padding-top: 2%;
    padding-bottom: 2%;
}

p {

    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: bolder;
}

#timeRemaining {
    padding-top: 5%;
    justify-content: center;
    font-weight: bolder;
}

#myButtons {
    text-align: center;
}
/* 
#list-group-item {
    background-color: transparent !important;
} */

/* button {
    width: 100 px;
    height: 50 px auto 0;
} */

#q-a-space {
    width: 100%;
    height: auto;

    margin-top: 20 px;
    overflow: auto;
    text-align: center;
    /* background: orange; */
    /* background: lightyellow; */

}
